@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply w-screen h-28 flex;
}

.guide {
  position: absolute;
  width: 100svw;
  height: 100svh;
  top: 0;
  left: 0;
  background: linear-gradient(250deg, #ffffff, #f0f0ff);
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 100px;

  overflow: hidden;

  display: none;
}

.guide-open {
  transform: translateY(-200vh);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1s ease;
}

.guide01,
.guide02,
.guide03 {
  border: 5px solid var(--ourly-theme);
  border-radius: 16px;

  width: 350px;
  height: 450px;

  padding: 16px;

  background-color: #fff;

  cursor: pointer;

  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.guide01-open,
.guide02-open,
.guide03-open {
  transform: translateY(100%) !important;
  opacity: 0 !important;
  transition: all 0.5s;
}

.guide01,
.guide02,
.guide03 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url('/img/question-bg.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 120%;
  position: relative;
}
.guide01::after {
  content: '';
  background: url(/img/20Yman-02-bgN.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
  height: 65%;
}
.guide02::after {
  content: '';
  background: url(/img/30Yman-02-bgN.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65%;
}
.guide03::after {
  content: '';
  background: url(/img/30Ywoman-01-bgN-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
}

.guide-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 50px;

  margin-top: -8px;
}

.guide-title {
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 1s ease;

  margin-top: -4%;
}

.open {
  position: absolute;
  right: 160px;
  bottom: 10%;

  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;

  animation: openanimation infinite 1s;
}

.open::after {
  content: url(/img/arrow.svg);
  position: absolute;
  top: 16px;
  left: -48px;
  width: 250px;
}

@media (max-width: 1000px) {
  .guide {
    display: none;
  }
}

.guide01:not(.guide01-open):hover,
.guide02:not(.guide02-open):hover,
.guide03:not(.guide03-open):hover {
  transform: scale(1.1) !important;
  transition-duration: 0.5s !important;
}

.open:hover {
  transform: translateX(32px) !important;
  transition-duration: 0.5s;
}

@keyframes openanimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(16px);
  }
  100% {
    transform: translateX(0);
  }
}
