@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply w-screen h-28 flex;
}

.otoiawase {
  @apply border border-solid border-4 px-10 rounded-full bg-white font-bold transition-all duration-300;
  border-color: var(--ourly-theme);
  box-shadow: 4px 4px 8px #3e3e3e;
}

.otoiawase:hover {
  box-shadow: none;
}
