@tailwind base;
@tailwind components;
@tailwind utilities;

.intro {
  height: 650px;
  width: 100%;

  position: relative;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row-reverse;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/img/mess.gif);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 85%;
}
.intro::after {
  content: '';
  background-image: url(/img/personal-05-bgN.png);
  background-repeat: no-repeat;
  background-size: auto 100%;

  width: 50%;
  height: 100%;

  position: absolute;
  bottom: 0px;
  left: 10%;
}

.intro-text {
  padding-right: 10%;
}
