@tailwind base;
@tailwind components;
@tailwind utilities;

.intro {
  height: 650px;
  width: 100%;

  position: relative;
}
.intro::after {
  content: '';
  background-image: url(/img/personal-05-bgN.png);
  background-repeat: no-repeat;
  background-size: auto 100%;

  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0px;
  left: 10%;
}
