@tailwind base;
@tailwind components;
@tailwind utilities;

.page01 {
  position: relative;
}

.title01 {
  position: absolute;
  top: 30%;
  left: 100px;
}
.title02 {
  position: absolute;
  top: 30%;
  right: 100px;
}
.title02 h1,
.title02 p {
  text-align: right;
}
.title02::after {
  content: '';
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 80px;
  height: 15px;
  background-color: var(--ourly-theme);
}
.title03 {
  position: absolute;
  top: 56%;
  right: 100px;
}
.title03 img {
  width: fit-content;
  height: fit-content;
}
.title03 h1,
.title03 p {
  text-align: right;
}
.title03::before {
  content: '';
  position: absolute;
  top: -10%;
  right: 0;
  width: 80px;
  height: 15px;
  background-color: var(--ourly-theme);
}

p {
  font-size: 24px;
}
.title01::after {
  content: '';
  position: absolute;
  bottom: -16%;
  left: 0;
  width: 80px;
  height: 15px;
  background-color: var(--ourly-theme);
}

.page01::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 80%;
  height: 80%;
  background-image: url('/img/personal-01-bgN.png');
  background-repeat: no-repeat;
  background-size: contain;

  animation: KV01 2s ease infinite;
}

.triangle01 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 400px;
  border-color: transparent transparent transparent var(--ourly-theme);

  position: absolute;
  right: 30%;
  top: 30%;

  transform: rotate(30deg);
}
.triangle02 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 200px;
  border-color: transparent transparent transparent var(--ourly-theme);

  position: absolute;
  right: 30%;
  top: 60%;

  transform: rotate(-30deg);
}

.triangle03 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 400px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;

  position: absolute;
  left: 35%;
  top: 30%;

  transform: rotate(-30deg);
}
.triangle04 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 200px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;

  position: absolute;
  left: 35%;
  top: 60%;

  transform: rotate(30deg);
}

.triangle05 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 400px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;

  position: absolute;
  left: 47%;
  top: 55%;

  transform: rotate(-30deg);
}
.triangle06 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 200px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;

  position: absolute;
  left: 47%;
  top: 85%;

  transform: rotate(30deg);
}

.page02 {
  position: relative;
}

.page02::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 75%;
  background-image: url('/img/30Ywoman-04-bgN.png');
  background-repeat: no-repeat;
  background-size: cover;

  animation: KV02 2s ease infinite;
}
.page03 {
  position: relative;
}

.page03::before {
  content: '';
  position: absolute;
  bottom: -4%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/happypeople-bgN.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 90%;

  animation: KV03 2s ease infinite;
}

.download01 {
  position: absolute;
  display: flex;
  top: 65%;
  left: 100px;
}
.download02 {
  position: absolute;
  display: flex;
  top: 65%;
  left: 300px;
}

.download03 img {
  position: absolute;
  display: flex;
  top: 72%;
  right: 100px;
}
.download04 img {
  position: absolute;
  display: flex;
  top: 72%;
  right: 300px;
}

.download05 img {
  position: absolute;
  display: flex;
  top: 30%;
  right: 100px;
}
.download06 img {
  position: absolute;
  display: flex;
  top: 30%;
  right: 300px;
}

.KV {
  width: 100%;
  height: 100svh;
}

@keyframes KV01 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(16px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KV02 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(16px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KV03 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
