@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ourly-theme: #ff4448;
  --base-color: '#F0F0FF';
  --purple-dark: '#3F4066';
  --purple-light: '#5A5B90';
}

.sub {
  width: 100%;
  height: 300svh;
}

.detail {
  background-color: var(--ourly-theme);
  position: relative;
}
